body {
  background-color: #4c5760 !important;
}

/** NavBar Start **/

.page-title {
  font-size: 37px;
}

.link-container {
  height: 42px;
  display: flex;
  align-items: flex-end;
  float: right;
}

.link {
  margin-right: 20px;
  color: #5993c3;
  font-size: 20px;
  text-decoration: none;
}

/** NavBar End **/

.title {
  width: fit-content;
  margin: 30px auto;
  color: white;
}

.underline {
  width: 75%;
  margin: auto;
  border-bottom: 3px solid #d7ceb2;
}

/** Home Start **/

.home-p {
  width: 600px;
  margin: 50px auto;
  color: #d7ceb2;
  font-size: 20px;
}

/** Home End **/

/** Code Start **/

.code-container {
  width: fit-content;
  margin: auto;
}

.code-desc {
  width: fit-content;
  margin-top: 20px;
  color: #d7ceb2;
}

.code {
  width: fit-content;
  /* margin: auto; */
  display: block;
  white-space: pre-wrap;
  color: white;
}

/** Code End **/

/** Demo Start **/

.dropdown {
  color: brown !important;
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single
  > .Select-control
  .Select-value
  .Select-value-label {
  color: white;
}

.Select-input > input {
  color: white;
}

/** Demo End **/

button:hover {
  background-color: #d7ceb2;
  color: #4c5760 !important;
}

.Select-control {
  background-color: #4c5760 !important;
  color: white !important;
}

.Select-menu-outer {
  background-color: #4c5760;
  color: white !important;
}

.dash-dropdown {
  color: white !important;
}

.ken-dropdown {
  color: white !important;
}

.dash-dropdown:active {
  color: white !important;
  /* border-color: white !important;
  outline: none !important; */
}
.dash-dropdown:focus {
  color: white !important;
  /* border-color: white !important;
  outline: none !important; */
}
/* 
option {
  background-color: #4c5760;
}

*/
